# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg
*.egg-info/
dist/
build/
.eggs/

# Ambientes virtuais
.venv/
venv/
env/
ENV/

# Streamlit
.streamlit/secrets.toml

# IDEs
.vscode/
.idea/
*.code-workspace

# OS
.DS_Store
Thumbs.db

# Pytest
.pytest_cache/
.coverage
htmlcov/

# Distribuição / build
*.zip
*.tar.gz